{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

   <style>
    .hi{
        text-align: center;
        font-size: 50px;
    }
    p{
        text-align: center;
        line-height: 1.4;
        font-size: medium;
    }
   </style>
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span><a href="{% url 'core:about_us' %}">About us</a><span></span> Best Price & and Offers
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6 mb-50 mt-50 text-center">
                    <div class="featured-card">
                        <img src="{% static 'assets/imgs/theme/icons/icon-1.svg' %}" alt="" />
                        <h4 class="hi">Best Prices & Offers</h4>
                        <p>Adepa Global Marketplace strives to offer competitive prices on a wide range of products.
                         Customers can find great deals and discounts on verious items, making it go-to platform for budget-conscious shoppers.
                         The platform also offers special promotions, seasonal sales, and exclusive discounts to provide additional value customers.
                        </p>
                        <a class="btn btn-outline-warning" href="{% url 'core:about_us' %}">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}