{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<main class="container bg-light">
    <div class="row mt-5 pt-5">
        <div class="col-md-6 offset-md-3 content-section mb-100 mt-100">
            <form class="bg-white border shadow-sm pl-30 pr-30 pt-20 pb-20" method="POST">
                {% csrf_token %}
                {{ form }}
                {{ form.media  }}
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock content %}